.bodyss {
    background-image: linear-gradient(rgb(80, 105, 104), rgb(25, 78, 78));
    background-repeat: repeat-x;
}

body {
    background-color: rgb(25, 78, 78);
}

.middle {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    color: yellow;
    font-family: "Heavitas", cursive;
    font-size: 30px;
    margin-top: -20px;
}

#restartBtn {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 40px;
    border-radius: 8px;
    transition-duration: 0.4s;
    height: 200%;
    margin-top: 10px;
    font-family: "Heavitas", cursive;
    margin-left: 825px;
}

#restartBtn:hover {
    background-color: yellow;
    box-shadow: 0 5px #666;
}

#restartBtn:active {
    background-color: rgb(255, 174, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.item {
    position: relative;
    width: 100px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    background: #fff;
    transition: 0.25s;
    margin-block: 8px;
    transform: rotateY(180deg);
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #209d7b;
    transition: 0.25s;
    backface-visibility: hidden;
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

#backBtn {
    margin-left: 500px;
    margin-top: 30px;
    background-color: rgb(184, 176, 67);
    font-family: "Heavitas", cursive;
    border: none;
}

#backBtn:hover {
    box-shadow: 0 3px 3px rgb(0, 0, 0), 0 3px 5px 0 rgb(0, 0, 0);
    background-color: rgb(184, 176, 67);
    color: yellow;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    h1 {
        margin: 0;
    }

    .bodyss {
        background-image: linear-gradient(rgb(210, 228, 227), rgb(84, 180, 180));
        background-size: auto;
        background-repeat: repeat-x;

    }

    body {
        background-color: rgb(84, 180, 180);
        margin: 0;
        padding: 0;
    }

    html {
        margin: 0;
        padding: 0;
    }


    .middle {
        position: relative;
        width: 60%;
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: "Sour Gummy", sans-serif;
        font-size: 30px;
        text-shadow: 2px 2px 5px black;
        top: 30px;
    }

    #restartBtn {
        position: relative;
        background-color: rgb(255, 255, 255);
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 40px;
        border-radius: 8px;
        transition-duration: 0.4s;
        font-family: "Sour Gummy", sans-serif;
        bottom: 350px;
        left: 450px;
    }

    #restartBtn:hover {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 5px #666;
    }

    #restartBtn:active {
        background-color: rgb(217, 217, 217);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .item {
        position: relative;
        width: 100px;
        height: 120px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        background: #fff;
        transition: 0.25s;
        margin-block: 8px;
        transform: rotateY(180deg);
    }

    .item.boxOpen {
        transform: rotateY(0deg);
    }

    .item::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgb(68, 119, 174);
        transition: 0.25s;
        backface-visibility: hidden;
    }

    .boxOpen::after,
    .boxMatch::after {
        transform: rotateY(180deg);
    }

    .game {
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    #backBtn {
        position: relative;
        background-color: rgb(255, 255, 255);
        font-family: "Sour Gummy", sans-serif;
        border: none;
        color: black;
        right: 120px;
        top: 20px;
    }

    #backBtn:hover {
        box-shadow: 0 12px 16px rgb(0, 0, 0), 0 7px 5rgb(0, 0, 0)yellow;
        background-color: rgb(230, 230, 230);
        color: rgb(0, 0, 0);
    }

}