.bodyss {
    background-image: linear-gradient(rgb(210, 228, 227), rgb(84, 180, 180));
    background-repeat: repeat-x;
}

body {
    background-color: rgb(93, 201, 201);
}

.middle {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Sour Gummy", sans-serif;
}

.mains {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 252);
    font-family: "Sour Gummy", sans-serif;
    margin-bottom: 200px;
    padding-top: 250px;
}

.button-container {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */
    align-items: center;
    /* Center buttons horizontally */
}

.btn {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20px 0;
    cursor: pointer;
    font-size: 40px;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 60%;
    height: auto;
    font-family: "Sour Gummy", sans-serif;
    margin-left: 200px;
    margin-top: 75px;
}

.btn:hover {
    box-shadow: 0 12px 16px rgb(0, 0, 0), 0 7px 50px 0 rgb(0, 0, 0);
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
}

#textss {
    padding-bottom: 70px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .bodyss {
        background-image: linear-gradient(rgb(210, 228, 227), rgb(84, 180, 180));
        background-size: auto;
        background-repeat: repeat-x;

    }

    body {
        background-color: rgb(84, 180, 180);
    }

    .middle {
        margin: auto;
        width: 60%;
        padding: 10px;
        text-align: center;
        border: 7px solid rgb(0, 0, 0);
        background-color: rgb(112, 212, 212);
        margin-top: 30px;
        padding-top: 50px;
        padding-right: 240px;
        padding-bottom: 110px;
        padding-left: 240px;
    }

    .mains {
        position: absolute;
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: "Sour Gummy", sans-serif;
        right: 610px;
        top: 390px;

    }

    .button-container {
        display: flex;
        flex-direction: column;
        /* Stack buttons vertically */
        align-items: center;
        /* Center buttons horizontally */
    }

    .btn {
        background-color: rgb(255, 255, 255);
        border: none;
        color: rgb(0, 0, 0);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: 20px 0;
        cursor: pointer;
        font-size: 40px;
        border-radius: 8px;
        transition-duration: 0.4s;
        width: 60%;
        height: auto;
        font-family: "Sour Gummy", sans-serif;
        margin-left: 170px;
        margin-top: 40px;
        z-index: 10;
    }

    .btn:hover {
        box-shadow: 0 12px 16px rgb(0, 0, 0), 0 7px 5rgb(0, 0, 0)yellow;
        background-color: rgb(230, 230, 230);
        color: rgb(0, 0, 0);
    }

    #textss {
        font-size: 60px;
        padding-bottom: 50px;
    }
}